/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
   /* stylelint-disable*/
   a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
   /* stylelint-enable */

   /* begin normalize.css form styles */
   /* https://github.com/necolas/normalize.css */


   /* Forms */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
 	font-family: Arial, Helvetica Neue, Helvetica, sans-serif; /* 1 */
 	font-size: 1em; /* 16px */
 	line-height: 1.25em; /* 20 / 16 */
 	margin: 0; /* 2 */
 }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

 button,
 input { /* 1 */
 	overflow: visible;
 }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

 button,
 select { /* 1 */
 	text-transform: none;
 }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

 button,
 html [type="button"], /* 1 */
 [type="reset"],
 [type="submit"] {
 	-webkit-appearance: button; /* 2 */
 }

/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
 	border-style: none;
 	padding: 0;
 }

/**
 * Restore the focus styles unset by the previous rule.
 */

 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
 	outline: 1px dotted ButtonText;
 }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

 fieldset {
 	border: 1px solid #c0c0c0;
 	margin: 0 2px;
 	padding: 0.35em 0.625em 0.75em;
 }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

 legend {
 	box-sizing: border-box; /* 1 */
 	color: inherit; /* 2 */
 	display: table; /* 1 */
 	max-width: 100%; /* 1 */
 	padding: 0; /* 3 */
 	white-space: normal; /* 1 */
 }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

 progress {
 	display: inline-block; /* 1 */
 	vertical-align: baseline; /* 2 */
 }

/**
 * Remove the default vertical scrollbar in IE.
 */

 textarea {
 	overflow: auto;
 }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

 [type="checkbox"],
 [type="radio"] {
 	box-sizing: border-box; /* 1 */
 	padding: 0; /* 2 */
 }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
 	height: auto;
 }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

 [type="search"] {
 	-webkit-appearance: textfield; /* 1 */
 	outline-offset: -2px; /* 2 */
 }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

 [type="search"]::-webkit-search-cancel-button,
 [type="search"]::-webkit-search-decoration {
 	-webkit-appearance: none;
 }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

 ::-webkit-file-upload-button {
 	-webkit-appearance: button; /* 1 */
 	font: inherit; /* 2 */
 }

 /* end normalize.css form styles */


 /* using minor second scale */


 /* ===== BASE STYLES ===== */
/* Setting type to a major third modular scale - 4:5
http://www.modularscale.com/?18&px&1.2&web&text */

html {
	background-image: url("/img/mobilebg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: left;
	font-size: 1.406em; /*22.5px @ 16px */
	line-height: 1.22em; /*28px @ 18px */
	font-family: "Helvetica Neue LT W01_35 Thin", Helvetica, Arial, sans-serif;
	color: #FFF;
}

body {
	margin: 0.5em;
}

header {
	background-color: rgba(47, 59, 68, 0.9);
	padding-top: 0.622em;
}

h1 {
	font-size: 1.562em;/* 35.156px @ 22.5px*/
	line-height: 1.593em; /*56px @ 35.156px*/
	text-align: center;
	font-family: "Helvetica Neue LT W01_55 Roman", Helvetica, Arial, sans-serif;
}

h2 {
	font-family: "Helvetica Neue LT W01_41488878", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding-bottom: 0.6222em;
}

h3 {
	text-transform: uppercase;
	font-family: "Helvetica Neue LT W01_41488878", Helvetica, Arial, sans-serif;
	color: rgb(229, 24, 55);
}

a {
	color: rgb(229, 24, 55);
}

/* Form */

form {
	padding-top: 1.244em;
	background-color: rgba(255, 255, 255, 0.66);
	text-align: center;
}

label {
	display: block;
	text-align: inherit;
	width: 100%;
	color: black;
}

input {
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
}

img {
	display: block;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	font-size: 0.77em; /*17px @ 22.5px */
	padding: 0.622em;
	background-color: rgba(47, 59, 68, 0.9);
}

/* ===== LAYOUT STYLES ===== */
h3 {
	margin-top: 0.6222em; /* 14px @ 22.5px*/
	padding-top: 0.6222em; /* 14px @ 22.5px*/
	padding-bottom: 0.6222em; /* 14px @ 22.5px*/
}

main {
	margin-top: 1.2444em;
}

#page {
	padding: 0.6222em; /* 14px @ 22.5px*/
}

/* ===== MODULAR STYLES ===== */
form li {
	margin-bottom: 1.244em; /* 28px @ 22.5px*/
}

input[type="text"],
input[type="password"] {
	color: black;
	border: 0;
	padding: 0.9em;
}

input[type="submit"] {
	border: 0;
	font-family: "Helvetica Neue LT W01_55 Roman", Helvetica, Arial, sans-serif;
	color: #FFF;
	background-color: rgb(47, 59, 68);
	padding: 0.6222em;
}

h4 a,
.time,
.location,
.course-content li a {
	text-transform: uppercase;
	font-size: 0.8em;
	color: #FFF;
}

#forgot-password {
	margin-top: -0.6222em;
	padding-bottom: 0.6222em;
	font-weight: 900;
}

#reg-info,
.course-content {
	margin-bottom: 1.244em;
	margin-top: 1.244em;
	font-size: 0.8em;
}

#support {
	background-color: rgba(47, 59, 68, 0.9);
	padding: 1.244em;
	margin-bottom: 1.244em;
}

#navbar ul li.active {
	background: rgb(229, 24, 55);
}

#monday,
#wednesday,
#friday,
#reg-info,
.course-content {
	background-color: rgba(47, 59, 68, 0.9);
	padding-left: 0.622em;
	padding-bottom: 0.622em;
}

#tuesday,
#thursday {
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: -0.622em;
	margin-top: -0.622em;
	padding-left: 0.622em;
}

#class-schedule-label {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(0, 0, 0);
	padding-top: 0.622em;
	margin-bottom: -0.622em;
	padding-left: 0.622em;
}

.schedule ul li:last-child {
	padding-bottom: 0.622em;
}

#navbar ul li {
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 0.125em;
	font-size: 0.703em;
	padding: 0.622em 1.244em;
	border-top: 0.1em solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.3);
}

#navbar ul li:first-child {
	margin-top: 0.622em;
}

.contact-info a {
	color: #FFF;
}

#navbar ul li a {
	color: #FFF;
}

/* ===== STATE STYLES ===== */
@media screen and (min-width: 26.625em) {

	img {
		max-width: 30%;
	}
}

@media screen and (min-width: 42.375em) {

	img {
		max-width: 25%;
	}
}

@media screen and (min-width: 48em) {

	img {
		max-width: 20%;
	}

	#page {
		padding: 1.244em;
	}

	#navbar {
		margin: 0;
	}

	#navbar ul {
		text-align: center;
	}

	#navbar ul li {
		display: inline-block;
		width: 28%;
		margin-left: -0.2em;
		margin-right: -0.2em;
	}
}

@media screen and (max-width: 53.3125em) {

	html {
		font-size: 1.25em;
		line-height: 1.2em;
	}

	#page {
		padding: 2.44em;
	}
}

@media screen and (min-width: 75em) {

	html {
		font-size: 1.5em;
		line-height: 1.2em;
	}

	#page {
		padding: 4.88em;

	}
}


#navbar ul li:hover,
input[type="submit"]:hover {
	color: #FFF;
	background-color: rgb(229, 24, 55);
	box-shadow: none;
}

#forgot-password a:hover {
	color: rgb(47, 59, 68);
}

.hasjs input[type="submit"] {
	transition: position 1s;
	position: absolute;
	left: -444.44em; /* -10000px @ 22.5px */
}

.hasjs input[type="submit"].active {
	position: static;
}

.hasjs #input-username,
#input-password {
	position: relative;
}

.hasjs #input-username label,
.hasjs #input-password label {
	transition: top 0.3s;
	top: 0.9em; /* 28px @ 22.5px*/
	position: absolute;
}

.hasjs #input-username label.login-active,
.hasjs #input-password label.login-active {
	top: 0;
}

.hasjs input[type="text"].login-active,
.hasjs input[type="password"].login-active {
	box-shadow: none;
}